apiVersion: v1
kind: Service
metadata:
  name: redis-master
  namespace: dev
spec:
  ports:
    - port: 6379
  selector:
    app: redis
    role: master
---
apiVersion: v1
kind: Service
metadata:
  name: redis-replica
  namespace: dev
spec:
  ports:
    - port: 6379
  selector:
    app: redis
    role: replica
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-master
  namespace: dev
  labels:
    app: redis
    role: master
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
      role: master
  template:
    metadata:
      labels:
        app: redis
        role: master
    spec:
      containers:
        - name: redis
          image: redis:7.2
          ports:
            - containerPort: 6379
          command: ["redis-server", "--appendonly", "yes"]
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-replica
  namespace: dev
  labels:
    app: redis
    role: replica
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
      role: replica
  template:
    metadata:
      labels:
        app: redis
        role: replica
    spec:
      containers:
        - name: redis
          image: redis:7.2
          ports:
            - containerPort: 6379
          command:
            [
              "redis-server",
              "--replicaof",
              "redis-master",
              "6379",
              "--appendonly",
              "yes"
            ]
